@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/font/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('./assets/font/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/font/Poppins/Poppins-Medium.ttf') format('truetype');
}

body {
    font-family: 'Poppins-Medium', sans-serif; 
}
